/* 
    Created on : Jul 8, 2016, 11:35:55 PM
    Author     : kernuac
*/

@font-face
{
    font-family: 'LVDCGO';
    src: url('../assets/fonts/LVDCGO__.TTF');
}

#viewport
{
    background-color: black;
    color: white;
}
